.container{
    display: grid;
    grid-template-columns: 4% 15% 15% 20% 15% 15% 4%;
    grid-template-rows: none;
    grid-column-gap: 2%;
    align-content: center;
    text-align:center;
    background-color: #ca4639;
    color: rgb(252, 252, 252);
    margin-right: 15PX;
}
.divimg{
    height: 100%;
    width: 100%;
   background-color: white;
   border-radius:  250px / 500px;
}

.BOX>a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff; 
   font-size: larger;
}
